env:
app:
  server:
    protocol: 'ws'
    host: 'hancock-dlt-broker-blockchainhub-develop.kickstartteam.es'
    port: 80
    base: ''
  blockchain:
    ethereum:
      host: kst-hancock-ms-ganache-cli.blockchainhub-develop.svc.cluster.local
      port: 8545
  db:
    protocol: mongodb
    host: mongo.blockchainhub-develop.svc.cluster.local
    port: 27017
    database: hancock
    params: ''
    user: ''
    pass: ''
    ethereum:
      database: hancock
      collection: smartcontracts
  consumers:
    cryptvault:
      api:
        getByAddressEndpoint: 'http://kong:8000/v1/wallets/:address'
        notifyEndpoint: 'http://kong:8000/v1/wallets/:address/notify'
      credentials:
        key: 'OiYdLKOblAicxiasy2tJolbc3oBYkiyg'
        secret: 'umFfDtKwdv9k6uhu7EEA2Hwoe3aWaoTT'
        expires_in: '1555674519'
