env:
app:
  application: 'hancock:ms-wallet-hub'
  hostname: 'localhost'
  server:
    protocol: ws
    host: localhost
    port: 3000
    base: ''
  blockchain:
    ethereum:
      protocol: ws
      host: ganache
      port: 8545
  db:
    protocol: mongodb
    host: mongo
    port: 27017
    database: hancock
    params: ''
    user: ''
    pass: ''
    ethereum:
      database: hancock
      collections:
        contractAbis: sc_abi
        contractInstances: sc_instance
  consumers:
    cryptvault:
      api:
        getByAddressEndpoint: 'http://kong:8000/v1/wallets/:address'
        notifyEndpoint: 'http://kong:8000/v1/wallets/:address/notify'
      credentials:
        key: 'OiYdLKOblAicxiasy2tJolbc3oBYkiyg'
        secret: 'umFfDtKwdv9k6uhu7EEA2Hwoe3aWaoTT'
        expires_in: '1555674519'
  logger:
    logLevel: debug
