env:
app:
  server:
    port:
    base: ''
  blockchain:
    ethereum:
      host:
      port: 8545
  db:
    protocol: mongodb
    host: ''
    port: 27017
    database: ''
    params: ''
    user: ''
    pass: ''
    ethereum:
      database: ETH
      collection: contracts
